.hero_section {
  padding: 4rem 0;
  background: var(--section-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_container {
  width: 100%;
  max-width: 1024px;
  gap: 1rem;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hero_button {
  margin-top: 2rem;
}

.title_color {
  color: var(--first-color);
}

.hero_social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero_social-icon {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.hero_social-icon:hover {
  transform: scale(1.2);
}

.footer_social:hover {
  color: var(--first-color-lighter);
}

.hero_social-icon:nth-child(1) {
  color: #4267b2;
}

.hero_social-icon:nth-child(2) {
  color: #0e76a8;
}

.hero_social-icon:nth-child(3) {
  color: #1da1f2;
}

.hero_img {
  width: 250px;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_title {
  font-size: var(--big-font-size);
}

.hero_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  display: flex;
  gap: 0.5rem;
}

.hero_scroll {
  margin-top: 2rem;
  display: none;
}

.hero_scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.hero_scroll-button:hover {
  transform: translateY(0.25rem);
}

.hero_scroll-mouse {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.hero_scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.hero_scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  border: 1px solid var(--first-color);
  color: #151515;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
  transform: translateX(100px);
  /* opacity: 0; */
}

.button[data-scroll="in"] {
  transform: translateX(0);
  transition: 0.8s;
  opacity: 1;
}

.button:hover {
  background: var(--first-color-alt);
  color: #fff;
  border-radius: 2rem;
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
  color: var(--first-color);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

.buttton-small {
  padding: 0.75rem 1rem;
}

.button-link {
  padding: 0;
  background: transparent;
  color: var(--first-color);
}

.button-link:hover {
  background: transparent;
  color: var(--first-color-alt);
}

@media screen and (max-width: 767px) {
  .hero_section {
    padding: 2rem 1rem;
  }

  .hero_content {
    flex-direction: column-reverse;
  }

  .hero_social {
    flex-direction: row;
    gap: 2rem;
  }

  .hero_data {
    width: 100%;
    text-align: center;
  }

  .button {
    transform: translateX(0);
    margin-top: 1rem;
  }

  .hero_img {
    width: 200px;
    height: 200px;
  }
}
