.qualification {
  background: #fff;
  padding-bottom: 2rem;
}

.qualification_container {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.8s;
}

.qualification_container[data-scroll="in"] {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--first-color);
}

.qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification_calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification_rounder {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--first-color);
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_button.qualification_active {
  color: var(--first-color);
}
